.themeChecker {
	font-size: 12px;
	border-radius: 1000px;
	padding: 5px;
	text-align: center;
	color: white;
	cursor: pointer;
	font-weight: 400;
	width: 55px;
}

.themeChecker:hover {
	box-shadow: 0 0 0 1px white;
}

.blue {
	background-color: blue;
	border: 1px solid rgb(130, 130, 255);
}

.red {
	background-color: red;
}

.dark {
	background-color: #222;
}

.light {
	background-color: #eee;
	color: black;
}

.green {
	background-color: green;
	color: white;
}

.pink {
	background-color: pink;
	color: black;
}

.yellow {
	background-color: yellow;
	color: black;
}
